@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family:'Spartan',sans-serif;
}
body{
  background-image: url('../IMAGES/formbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

ul li {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    float: left;
    list-style: none;
  }

ul li a{
    color: white;
    display: block;
    text-decoration:none;
    padding: 0 50px;   
  }

ul li a:hover{
    color: rgb(0, 174, 255);
  }

  ul li a::after{
    background-color: white;
  }

  .fix {
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: auto;
}

nav{
    width:50%px;
    height: 100px;
    line-height: 100px;
    background-color:rgb(36, 36, 36);
  }

.container {  
    padding: 50px; 	
}  
  
input[type=text], input[type=password],input[type=number],input[type=email], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
  opacity: 0.8;
}  
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus , input[type=email]:focus{  
  background-color: orange;  
  outline: none;  
}  

hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  